body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

main {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

h1 {
    color: #333333;
    text-align: center;
}

.form-group {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

input[type="submit"] {
    cursor: pointer;
    background-color: #009879;
    color: #ffffff;
    border: none;
    padding: 0.5rem;
    width: 100%;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #007B63;
}

.error-message {
    color: #ff0000;
    text-align: center;
    margin-bottom: 1rem;
}
